.action-btn {
    background-color: var(--clr-secondary);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-family: var(--ff-secondary);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.6em 1.7em;
    text-align: center;
    width: fit-content;
}

.start-btn {
    align-self: center;
    text-align: center;
    justify-self: center;
    width: 200px;
    padding: .8em;
}