.action-btn {
    background-color: var(--clr-secondary);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-family: var(--ff-secondary);
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.6em 1.7em;

}