main {
    background-color: #F5F7FB;
    display: grid;
    gap: 2em;
    max-width: 800px;
    margin: 0 auto;
    padding: 4em 4em 1em;
    min-height: 600px;
    align-items: center;
}

h1 {
    font-family: var(--ff-primary);
    font-weight: 700;
    text-align: center;
    margin-top: auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.acertos {
   font-family: var(--ff-secondary); 
   font-weight: 700;
   color: var(--clr-primary);
   font-size: 1.3em;
}